#root {
    display: flex;
    flex-direction: column;

    text-align: center;

    background: linear-gradient(
        to bottom,
        var(--complimentary-color),
        var(--base-background) 30%
    );
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.center {
    justify-content: center;
}

.flex.apart {
    justify-content: space-between;
}

.flex.middle {
    align-items: center;
}

.flexFill {
    flex: 1 auto;
}

.separator {
    width: 1px;
    height: 100%;

    border-left: 2px solid #5c575e;
    margin: 0 1rem;
}

.formError {
    min-width: 0px;
    flex: 1 auto;

    margin: 0;
    padding: 0px;

    color: var(--negative-color);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;

    user-select: none;
}

.formError.inline {
    margin-left: 0.2rem;
    width: 380px;
}

.formError.block {
    border: 1px solid var(--negative-color);
    border-radius: var(--base-border-radius);

    padding: 16px 0px;

    text-align: center;
    background-color: var(--negative-white);
}

.formFooter {
    align-self: flex-end;

    width: 380px;
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.negative {
    background-color: var(--negative-color);
}

.negative:hover {
    background-color: var(--negative-light);
    border: 1px solid var(--negative-color);
}

.negative:focus {
    background-color: var(--negative-light);
    outline: 3px solid var(--negative-color);
}

.navlinks {
    height: 100%;

    list-style-type: none;
    padding: 0;

    li {
        display: inline;
    }

    li a {
        padding: 8px;

        color: inherit;
        font-size: 1.1rem;
        text-decoration: none;
    }
    .asLink,
    .asLink:hover,
    .asLink:focus {
        color: inherit;
        font-weight: inherit;

        padding: 0px;
        border: 0px;
        border-bottom: 3px solid transparent;
        border-radius: 0px;
        margin: 0px;

        background-color: transparent;
    }

    li a.special {
        padding: 8px 12px;
        border: 1px solid var(--accent-color);
        border-radius: var(--bubble-border-radius);
        background-color: var(--accent-color);
        margin-left: 12px;

        color: var(--complimentary-color);
    }

    li a:hover {
        color: inherit;
        text-decoration: underline;

        .asLink {
            text-decoration: underline;
        }
    }

    li a.special:hover {
        color: var(--complimentary-color);

        background-color: var(--complimentary-light);
    }

    li a:focus {
        outline: none;
        border-bottom: 3px solid var(--accent-color);
    }

    li a.special:focus {
        outline: 3px solid var(--accent-color);
        background-color: var(--complimentary-light);
    }
}

.baseSection {
    width: 100vw;
    padding: 0 6rem;
}

.headerSection {
    background-color: var(--complimentary-color);
}

.newBlogSection h2 {
    text-align: left;
    margin-bottom: 8px;
}

.headerContents {
    display: flex;
    align-items: center;

    color: #260230;
}

.navbar {
    margin-left: auto;
}

.asInputField {
    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow-wrap: break-word;
    height: auto;
}

.field:focus,
.field:active {
    outline: none;
}

.Modal {
    position: absolute;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: color-mix(
        in srgb,
        var(--negative-white) 70%,
        transparent
    );
    backdrop-filter: blur(10px);
}

.modalContainer {
    padding: 24px;
    border-radius: var(--base-border-radius);

    background-color: var(--base-background);

    text-align: center;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    h2 {
        margin-top: 0px;
        margin-bottom: 8px;
    }

    b {
        color: var(--negative-color);
    }

    .noMargin {
        margin: 0px;
    }

    .actions {
        gap: 8px;
    }
}

.asButton:hover,
.asButton:focus,
.asButton:focus-visible {
    color: var(--base-background);
}
