#root {
    display: flex;
    flex-direction: column;

    text-align: center;

    background: linear-gradient(
        to bottom,
        var(--complimentary-color),
        var(--base-background) 30%
    );
}

.flexFill {
    flex: 1 auto;
}

.separator {
    width: 1px;
    height: 100%;

    border-left: 2px solid #5c575e;
    margin: 0 1rem;
}

.formError {
    min-width: 0px;
    flex: 1 auto;

    margin: 0;
    padding: 0px;

    color: var(--negative-color);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
}

.formError.inline {
    margin-left: 0.2rem;
    width: 380px;
}

.formFooter {
    align-self: flex-end;

    width: 380px;
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.navlinks {
    height: 100%;

    list-style-type: none;
    padding: 0;

    li {
        display: inline;
    }

    li a {
        padding: 8px;

        color: inherit;
        font-size: 1.1rem;
        text-decoration: none;
    }

    li a:hover {
        color: inherit;
        text-decoration: underline;
    }

    li a:focus {
        outline: none;
        border-bottom: 3px solid var(--accent-color);
    }
}

.baseSection {
    width: 100vw;
    padding: 0 6rem;
}

.headerSection {
    background-color: var(--complimentary-color);
}

.headerContents {
    display: flex;
    align-items: center;

    color: #260230;
}

.navbar {
    margin-left: auto;
}
